[Unit]
Description=Л.Е.С. Backend Proxy Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/les_v2
ExecStart=/root/les_v2/.venv/bin/uvicorn proxy_server:app --host 0.0.0.0 --port 8050
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/root/les_v2/.env

[Install]
WantedBy=multi-user.target
