[submodule "modules/les-list"]
	path = modules/les-list
	url = https://github.com/proovcme/les-list.git
[submodule "products/artel"]
	path = products/artel
	url = https://github.com/proovcme/Agnostis.git
