<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.ovc.les.pauk</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/ovc/Projects/LES_v2/start_pauk.command</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>LES_ENABLE_SSH_TUNNEL</key>
        <string>1</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/ovc/Projects/LES_v2/logs/pauk.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/ovc/Projects/LES_v2/logs/pauk.log</string>

    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
